.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.lzo
*.patch
*.gcno
*.lo
*.la

docs/html

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

# cscope files
cscope.*
ncscope.*


Makefile
config.h
config.log
config.status
data/Makefile
directfb-config
directfb-internal.pc
directfb.pc
directfb.spec
docs/Makefile
docs/dfbg.1
docs/directfb-csource.1
docs/directfbrc.5
gfxdrivers/Makefile
gfxdrivers/ati128/Makefile
gfxdrivers/cle266/Makefile
gfxdrivers/cyber5k/Makefile
gfxdrivers/davinci/Makefile
gfxdrivers/i810/Makefile
gfxdrivers/i830/Makefile
gfxdrivers/mach64/Makefile
gfxdrivers/matrox/Makefile
gfxdrivers/neomagic/Makefile
gfxdrivers/nsc/Makefile
gfxdrivers/nsc/include/Makefile
gfxdrivers/nvidia/Makefile
gfxdrivers/omap/Makefile
gfxdrivers/radeon/Makefile
gfxdrivers/savage/Makefile
gfxdrivers/sh7722/Makefile
gfxdrivers/sis315/Makefile
gfxdrivers/tdfx/Makefile
gfxdrivers/unichrome/Makefile
gfxdrivers/vmware/Makefile
include/Makefile
include/directfb_keynames.h
include/directfb_strings.h
include/directfb_version.h
inputdrivers/Makefile
inputdrivers/dbox2remote/Makefile
inputdrivers/dreamboxremote/Makefile
inputdrivers/dynapro/Makefile
inputdrivers/elo/Makefile
inputdrivers/gunze/Makefile
inputdrivers/h3600_ts/Makefile
inputdrivers/joystick/Makefile
inputdrivers/keyboard/Makefile
inputdrivers/linux_input/Makefile
inputdrivers/lirc/Makefile
inputdrivers/mutouch/Makefile
inputdrivers/penmount/Makefile
inputdrivers/ps2mouse/Makefile
inputdrivers/serialmouse/Makefile
inputdrivers/sonypi/Makefile
inputdrivers/tslib/Makefile
inputdrivers/ucb1x00_ts/Makefile
inputdrivers/wm97xx_ts/Makefile
interfaces/IDirectFBFont/Makefile
interfaces/IDirectFBImageProvider/Makefile
interfaces/IDirectFBImageProvider/mpeg2/Makefile
interfaces/IDirectFBVideoProvider/Makefile
interfaces/Makefile
lib/Makefile
lib/direct/Makefile
lib/direct/build.h
lib/direct/direct.pc
lib/direct/dtest
lib/fusion/Makefile
lib/fusion/build.h
lib/fusion/fusion.pc
lib/fusion/shm/Makefile
lib/voodoo/Makefile
lib/voodoo/build.h
lib/voodoo/voodoo.pc
libtool
patches/Makefile
proxy/Makefile
proxy/dispatcher/Makefile
proxy/requestor/Makefile
rules/Makefile
src/Makefile
src/core/Makefile
src/display/Makefile
src/gfx/Makefile
src/gfx/generic/Makefile
src/input/Makefile
src/media/Makefile
src/misc/Makefile
src/windows/Makefile
stamp-h1
systems/Makefile
systems/devmem/Makefile
systems/fbdev/Makefile
systems/osx/Makefile
systems/sdl/Makefile
systems/vnc/Makefile
systems/x11/Makefile
systems/x11/x11input.loT
tests/Makefile
tools/Makefile
tools/dfbdump
tools/dfbfx
tools/dfbg
tools/dfbinfo
tools/dfbinput
tools/dfblayer
tools/dfbpenmount
tools/dfbscreen
tools/directfb-csource
tools/fusion_bench
tools/mkdfiff
tools/mkdgiff
tools/raw15toraw24
tools/raw16toraw24
tools/raw32toraw24
wm/Makefile
wm/default/Makefile
wm/unique/Makefile
wm/unique/classes/Makefile
wm/unique/data/Makefile
wm/unique/data/foo.h
wm/unique/devices/Makefile
wm/unique/stret_test
wm/unique/test_color
wm/unique/test_foo
wm/unique/uwmdump

